
name: Tests (autodiff)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Tests (autodiff)
    runs-on: ubuntu-latest
    permissions: # required for caching
      actions: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1'
    steps:
    - name: Cancel ongoing test runs for previous commits
      uses: styfle/cancel-workflow-action@0.13.0
      with:
        access_token: ${{ github.token }}
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Set up Julia
      uses: ./.github/actions/setup-julia
      with:
        julia-version: ${{ matrix.version }}
        project-file: './test/ext/Project.toml'
    - name: Run tests
      run: julia -O0 --project=./test/ext/ ./test/ext/runtests.jl
